.headerRegister, .header-primary {
    background: #007BFF;
    color: #FFF;
}

.headerUpdate {
    background: #17A2BB;
    color: #FFF;
}

.bootstrap-select > .dropdown-toggle{
    border: 1px solid #CCC;
}

.notBlock {
    display: none;
}

.required{
    color: red;
    font-size: 13pt;
    font-weight: bold;
}